:root{
  --gradient: linear-gradient(to left, #870000, #601f0a);
  --borderRadius: 20px;
  --btnPadding: 7px 20px;
}

/* header - nav */
.navbar{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #000;
  z-index: 5;
}

nav img{
  width: 40px;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

.navbar-brand{
  font-size: 2rem;
}

.navbar-brand span{
  color: darkorange;
}

.navbar-toggler-icon{
  background-image: url(../imagenes/icono.png);
}

.nav-link,
.navbar-brand{
  color: #fff;
}

.nav-link:hover{
  color: orange;
}

/* MAIN */
main{
  background: linear-gradient(to left, hsla(0, 100%, 26%, 0.377), #601f0a8e),url('../imagenes/banner.jpg'); 
  background-position: center;
  background-attachment: fixed;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main__btns{
  margin-top: 25px;
}
.main__btns a{
  text-decoration: none;
  color: #fff;
  border-radius: var(--borderRadius);
  padding: var(--btnPadding);
  background-color: rgba(0, 0, 0);
}

/* NOSOTROS */
.brands img{
  width: 200px;
  height: 40px;
}

.brands img:nth-child(1){
  height: 80px;
}

.banner2{
  background: linear-gradient(to left, hsla(0, 100%, 26%, 0.377), #601f0a8e),url('../imagenes/banner2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 400px;
}

/* PRODUCTOS */
#productos{
  max-width: 70%;
}

.banner3{
  background: linear-gradient(to left, hsla(0, 100%, 26%, 0.377), #601f0a8e),url('../imagenes/banner3.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

/* FAQS */
#faqs{
  width: 60%;
}
.accordion-button:not(.collapsed){
  background-color: #fff;
}

.accordion-button::after{
  background-image: url(../imagenes/rockhand.png);
  transform: rotate(180deg);

}
.accordion-button:not(.collapsed)::after{
  background-image: url(../imagenes/rockhand.png);
  transform: rotate(0deg);
}

/* FOOTER */
footer{
  background-color: #000;
}

.redes a{
  color: orangered;
}

.github{
  color: orangered;
}
.github:hover{
  color: orange;
}

@media screen and (max-width: 991px){
  .navbar-brand{
    font-size: 1.5rem;
  }
  
  main{
    height: 400px;
  }

  #productos{
    max-width: 100%;
  }
  #faqs{
    width: 90%;
  }
}






